input, button{
    appearance: none;
    background: none;
    border: none;
    outline:none
}

.fourth-form{
    margin-top: 50px;
}

div > label.future{
    padding-right: 0;
}

.form-group label{
    font-size: 13px;
    margin-bottom: 5px;
    padding-right: 250px;
}

.btn-save{
    display: block;
    background-color: #5271FF;
    border-radius: 8px;
    border: 1px solid #5271FF;
    width: 100px;
    padding: 5px 5px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 140px;
}

